* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    width: 1000px;
}

header {
    width: 100%;
}

.logo a img {
    width: 400px;
    margin-left: 10px;
    float: left;    
}

ul li {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

ul li a img {
    margin: auto;
    position: relative;
    width: 80px;
    padding: 15px;
}

nav {
    width: 1000px;
    margin: auto;
    display: flex;
    background: black;
    border-bottom: 5px solid green;
    position: fixed;
}

.foto-utama img {
    width: 950px;
    margin: auto;
    margin-top: 55px;
}

h1 {
    font-size: 100px;
}

h1, h3 {
    text-align: center;
    padding: 6px;
}

h4, h2 {
    padding: 0px;
    margin-left: 10px;
}

h4 {
    margin-top: 40px;
}

h2 {
    margin-top: 10px;
}

.pembuka {
    padding: 5px;
}

.fd img{
    width: 900px;
    margin-left: 50px;
}

h5 {
    text-align: center;
}

.pembina{
    margin-top: 30px;
    padding: 10px;
}

.anggota {
    margin-left: 15px;
}

.nama {
    margin-left: 20px;
}

.sosmed p{
    text-align: center;
    font-size: 90px;
    margin-top: 70px;
}

.ig, .tt, .yt {
    display: inline-block;
    padding: 60px;
    margin-bottom: 70px;
}

.ig a img {    
    width: 150px;
}

.tt a img {    
    width: 150px;
}

.yt a img {    
    width: 150px;
}

.footer {
    background: black;
    padding: 20px;
}

.footer p {
    color: white;
    text-align: center;
    font-size: 15px;
}

.footer p a {
    text-decoration: none;
    color: green;
}
